<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="VeejayPL - Wojciech Jurkowski" />
    <meta name="description" content="{{ description }}" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@1,700&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{'/css/style.css' | url | safe}}" />
    <script src="{{'/js/index.js' | url | safe}}" defer></script>
  </head>
  <body>
    {% include "header.njk" %}
    <main class="content">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
