<nav class="navigation">
<ul class="navigation-items">
<li><a href="/">Strona Główna</a></li>
<li><a href="/pojazdy/index.html">Pojazdy</a></li>
<li><a href="/kontakt/index.html">Kontakt</a></li>
<li><a href="/rodo/index.html">Rodo</a></li>
</ul>
</nav>
