<section class="hero">
<svg stroke="var(--button-color)" fill="none" class="chevron animated" viewBox="0 0 100 100"
width="100">
<path class="chevron-line" stroke-width="3" stroke-linecap="round" d="m 10 30 l 40 30 a 1 1 0 0 0 1 0 l 40 -30">
</path>
</svg>
</section>
