<section class="intro">
<article class="intro-article animation left">
<h2 class="heading">Wynajem samochodów</h2>
<p class="intro-para">Potrzebujesz samochodu, ale nie chcesz go kupować? W
<span>Carmotorent</span> oferujemy doskonałe rozwiązanie w zakresie wynajmu samochodów, gdy potrzebujesz pojazdu tymczasowo. Niezależnie od tego, czy wybierasz się na wycieczkę, odwiedzasz rodzinę, czy po prostu musisz dać odpocząć swojemu własnemu samochodowi, z nami wynajem jest bezstresowy i bezproblemowy.</p>
<a class="article-button" href=#cars>Sprawdź naszą ofertę</a>
</article>
<article class="intro-article animation right">
<h2 class="heading">Wynajem motocykli</h2>
<p class="intro-para">Przeżyj dreszcz emocji na otwartej drodze dzięki naszemu wynajmowi motocykli. Bez względu na to, czy wybierasz się na malowniczą, wiejską trasę, w podróż po kraju, czy zwiedzasz swoją okolicę, nasze motocykle dostarczą Cię tam, gdzie chcesz, bezpiecznie i w dobrym stylu. Nasze motocykle są wyposażone we wszystkie niezbędne urządzenia i sprzęt ochronny</p>
<a class="article-button" href=#motorcycles>Sprawdź naszą ofertę</a>
</article>
</section>
