---
title: "Carmotorent"
description: "Nowoczesne samochody i motocykle na wynajem w Poznaniu i
okolicach. Wynajmij Tesla 3 Performance na weekend i poczuj moc przyspieszenia. Gwarantujemy sprawną obsługę i minimum formalności dla Twojej wygody."
layout: "base.njk"
---

{% include "hero.njk" %}
<main class="content main">
{% include "intro.njk" %}
{% include "grid-cars.njk" %}
{% include "grid-motorbikes.njk" %}
</main>
