---
title: "Carmotorent - Nasza stajnia"
description: "Nasza stajnia dostępnych pojazdów do wypożyczenia w
Poznaniu i okolicach. Wynajmij szybkie i komfortowe auto lub motocykl i przeżyj
przygodę."
layout: "base.njk"
---
<main class="content">
<h1 class="heading">Nasza stajnia</h1>
<section class="vehicles">
<h2>Samochody</h2>
<ul class="grid-vehicle">
{% for vehicle in collections.cars %}
{% include "vehicle-card.njk" %}
{% endfor %}
</ul>
</section>
<section class="vehicles">
<h2>Motocykle</h2>
<ul class="grid-vehicle">
{% for vehicle in collections.motorbikes %}
{% include "bike-card.njk" %}
{% endfor %}
</ul>
</section>
</main>
