---
title: "Carmotorent - Warunki wynajmu"
description: "Warunki wynajmu pojazdów w Carmotorent"
layout: "base.njk"
---
<main class="content">
<h1 class="heading">Warunki wynajmu</h1>
<ol class="regulations">
<li>W okresie korzystania z Pojazdu Najemca zobowiązany jest do:</li>
<ul>
<li>przestrzegania i stosowania postanowień Umowy najmu;</li>
<li>używania Pojazdu zgodnie z jego przeznaczeniem;</li>
<li>przestrzegania przepisów prawa regulujących zasady korzystania z Pojazdu, w tym prawa o ruchu drogowym;</li>
<li>prawidłowego zabezpieczenia Pojazdu i jego wyposażenia przed kradzieżą, w szczególności poprzez każdorazowe zamykanie Pojazdu i stosowanie zabezpieczeń w jakie wyposażony jest Pojazd. Najemca w miarę posiadanych możliwości powinien parkować Pojazd na parkingach strzeżonych;</li>
<li>odpowiedniego zabezpieczenia przed kradzieżą, utratą lub zniszczeniem dokumentów oraz kluczyków i nie pozostawianie ich w Pojeździe, jak również innych wartościowych przedmiotów widocznych z zewnątrz;</li>
<li>utrzymywania Pojazdu w należytym stanie technicznym, w szczególności poprzez obserwowanie wszelkich nieprawidłowości związanych z technicznym działaniem Pojazdu. Najemca jest zobowiązany do regularnej kontroli Pojazdu – codzienne sprawdzenie poziomu oleju, płynu chłodzącego, i hamulcowego oraz sprawdzanie oświetlenia i upewnianie się, iż spełni on wszelkie warunki konieczne do bezpiecznej jazdy. W przypadku pojawienia się lampki kontrolnej na desce rozdzielczej Najemca zobowiązany jest do niezwłocznego powiadomienia Wynajmującego o tym fakcie i postępowania zgodnie ze wskazówkami Wynajmującego;</li>
<li>stosowania w Pojeździe rodzaju paliwa zgodnie ze specyfikacją silnika, podaną w dowodzie rejestracyjnym i/lub dokumentacji technicznej;</li>
<li>utrzymywania Pojazdu w należytej czystości i należytym stanie wizualnym;</li>
<li>przerwania jazdy, zabezpieczenia Pojazdu i natychmiastowego zawiadomienia Wynajmującego w przypadku stwierdzenia awarii, usterek lub nieprawidłowości w działaniu Pojazdu, w tym w szczególności Najemca zobowiązany jest niezwłocznie zawiadomić Wynajmującego o zapaleniu się którejkolwiek z kontrolek wskazujących na wystąpienie awarii, usterki lub nieprawidłowości. Najemca zobowiązany jest zastosować się do wskazówek Wynajmującego dotyczących zgłoszonej awarii, usterki lub nieprawidłowości.</li>
</ul>
<li>Najemcę obowiązuje bezwzględny zakaz używania wynajętego Pojazdu:</li>
<ul>
<li>do przewozu przedmiotów i substancji, które z powodu swoich właściwości lub zapachu mogą czasowo wyłączyć Pojazd z eksploatacji i/lub uniemożliwić jego dalszy wynajem i/lub go uszkodzić;</li>
<li>do uruchamiania lub holowania innych pojazdów, przyczep lub innych
przedmiotów;</li>
<li>do przewozu większej ilości osób lub masy ładunku niż określone w dokumencie rejestracyjnym Pojazdu;</li>
<li>do jazd próbnych, rajdów, wyścigów, treningów, konkursów lub jak rekwizytu;</li>
<li>do nauki jazdy;</li>
<li>gdy Najemca lub inny kierowca Pojazdu pozostaje pod wpływem alkoholu (jest po użyciu alkoholu lub w stanie nietrzeźwości), leków halucynogennych, narkotyków, barbituranów lub innych substancji osłabiających jego świadomość i zdolność reakcji;</li>
<li>wbrew przepisom celnym, drogowym lub innym obowiązującym w kraju użytkowania;</li>
<li>poza granicami Rzeczypospolitej Polskiej, bez pisemnej zgody Wynajmującego;</li>
<li>celem wjazdu na podłoże grząskie, niestabilne lub pochyłe, w wyniku czego może dojść do przewrócenia się Pojazdu.</li>
</ul>
<li>Najemca zobowiązany jest użytkować Pojazd w sposób, który nie spowoduje uszkodzeń jego wnętrza. W przypadku uszkodzenia przez Najemcę wnętrza Pojazdu (łącznie z wnętrzem bagażnika) Najemca jest odpowiedzialny za wynikające z tego tytułu szkody i jest zobowiązany do ich pokrycia w pełnej wysokości. Do tego typu uszkodzeń zaliczane są np. wypalone dziury w tapicerce, uszkodzenia przełączników, progów, wewnętrznych elementów karoserii, klamek, zamków zagrzybienie, itp.</li>
<li>Najemca zobowiązany jest do pokrycia wszelkich zobowiązań powstałych w okresie trwania stosunku najmu związanych z użytkowaniem Pojazdu, takich jak mandaty, opłaty za parkowanie i inne należności wynikające z naruszenia przepisów prawa lub regulaminów. W przypadku, jeżeli Wynajmujący na wniosek organów ścigania lub administracji zobligowany będzie do udzielenia pisemnej informacji o użytkowniku Pojazdu w związku z popełnionym w okresie najmu wykroczeniem lub przestępstwem lub w związku z naliczeniem opłaty z tytułu nieopłaconego parkowania lub innej opłaty/kary z tytułu naruszenia jakichkolwiek przepisów lub regulaminów związanych z korzystaniem z Pojazdu to Najemca obciążony zostanie przez Wynajmującego dodatkową opłatą administracyjną z tego tytułu w kwocie określonej w Tabeli opłat.</li>
<li>Zabronione jest palenie papierosów lub innych substancji w Pojeździe (zakaz dotyczy zarówno Najemcy/użytkownika Pojazdu jak i pasażerów). W przypadku stwierdzenia podczas zwrotu Pojazdu, iż w okresie najmu w Pojeździe palono, Najemca, w związku z koniecznością usunięcia skutków palenia (zapachów) zobowiązany będzie do zapłaty na rzecz Wynajmującego dodatkowej opłaty określonej w Tabeli opłat.</li>
<li>Zabroniona jest modyfikacja Pojazdu, jego części lub wyposażenia oraz zabiegi konserwacyjne wykraczające poza specyfikację producenta dla danej marki i modelu, które mogłyby doprowadzić do uszkodzenia Pojazdu. Zabronione jest również korzystanie z myjni samochodowych mechanicznych, na skutek czego może dojść do uszkodzenia powłoki lakierniczej Samochodu.</li>
<li>Do korzystania z przedmiotu najmu (bycia kierowcą) uprawiony jest tylko Najemca lub osoba przez niego wskazana i wpisana w Umowie najmu jako kierowca / drugi kierowca. Najemca ponosi odpowiedzialność za działanie innych kierowców jak za własne. Kierujący Pojazdem (kierowca) musi mieć ważne na terytorium Polski prawo jazdy przynajmniej od 2 (dwóch) lat.</li>
</ol>
</main>
